@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg-banner{
    height: 500px;
    background-image: url('./../../assets/bg-playlist.png');
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px){
    .bg-banner {
        height: 100vh;
    }
}

.ant-card-actions{
    background-color: transparent !important;
    border: none !important;
    margin-top: 20px !important;
}

.ant-typography{
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

.ant-picker-input input::placeholder {
    color: #f0f0f0 !important;
  }